#calendar .oj-tabs-panel {
  background-color: #ed1c24; }

#calendar .left {
  width: 69%;
  padding: 16px 0; }

#calendar .right {
  display: inline-block;
  vertical-align: middle;
  width: 31%;
  height: 100%; }

#calendar .num-day {
  display: inline-block;
  vertical-align: middle;
  background: rgba(0, 0, 0, 0.1);
  margin: 0 -3%;
  padding: 2px 13px;
  font-size: 20px;
  line-height: 44px; }
